<h1><%= l(:heading_layout_from_template_selecting_users) -%></h1>

<%= form_tag({:controller => 'easy_page_layout', :action => 'layout_from_template_selected_users'}, 
  :class => 'layout-from-template-selecting-users-form') do -%>
  <%= hidden_field_tag 'back_url', params[:back_url] -%>
  <%= hidden_field_tag 'page_template_id', params[:page_template_id] -%>

  <p class="buttons">
    <%= link_to_function(
      image_tag('toggle_check.png') + " #{l(:button_check_all)} / #{l(:button_uncheck_all)}",
      "toggleCheckboxesBySelector('input[name=\"users[]\"]')",
      :title => "#{l(:button_check_all)} / #{l(:button_uncheck_all)}") -%>
  </p>

  <ul id="layout-from-template-selected-users-list">
    <% @users.each do |user| %>
      <li class="floating">
        <label class="inline"><%= check_box_tag 'users[]', user.id %> <%= user.name %></label>
      </li>
    <% end -%>
  </ul>

  <%= submit_tag l(:button_save), :class => 'button-1' -%>
  <%= link_to(l(:button_back), params[:back_url], :class => 'button-2', :title => l(:button_back)) -%>
<% end -%>