<div id="easy-page">
  <h2><%= l(:label_easy_page_new) %></h2>
  <%= breadcrumb [
    link_to(l('breadcrumb.label.easy_pages_administration'), { :controller => 'easy_pages', :action => 'index' }, { :title => l('breadcrumb.title.easy_pages_administration') }),
    link_to(l('breadcrumb.label.easy_page_new'), {:controller => 'easy_pages', :action => 'new' }, { :title => l('breadcrumb.title.easy_page_new') })
  ] -%>

  <%= form_for(@page) do |f| %>
    <%= error_messages_for @page %>

    <%= render :partial => 'form', :locals => {:f => f}  %>

    <p><%= f.submit l(:button_add) %></p>
  <% end %>
</div>

<% ### PAGE CUSTOMS ########################################################## %>

