<%= error_messages_for query -%>
<%= hidden_field_tag :confirm, 1 -%>
<%= hidden_field_tag :set_filter, 1 -%>
<%= hidden_field_tag :back_url , params[:back_url] -%>
<%= hidden_field_tag :type , params[:type] -%>

<div class="box">
  <div class="tabular">
    <%= hidden_field_tag 'gantt', '1' if params[:gantt] %>
    <p>
      <%= f.label :name, l(:field_name) -%>
      <%= f.text_field :name, :size => 80 -%>
    </p>

    <% if User.current.admin? || User.current.allowed_to?(:manage_public_queries, query.project, :global => true) %>
      <p><label><%=l(:field_visible)%></label>
        <label class="block"><%= radio_button 'easy_query', 'visibility', EasyQuery::VISIBILITY_PRIVATE %> <%= l(:label_visibility_private) %></label>
        <label class="block"><%= radio_button 'easy_query', 'visibility', EasyQuery::VISIBILITY_ROLES %> <%= l(:label_visibility_roles) %>:</label>
        <% Role.givable.sorted.each do |role| %>
          <label class="block role-visibility"><%= check_box_tag 'easy_query[role_ids][]', role.id, query.roles.include?(role), :id => nil %> <%= role.name %></label>
        <% end %>
        <label class="block"><%= radio_button 'easy_query', 'visibility', EasyQuery::VISIBILITY_PUBLIC %> <%= l(:label_visibility_public) %></label>
        <%= hidden_field_tag 'easy_query[role_ids][]', '' %>
      </p>
    <% end %>

    <p>
      <%= label_tag :query_is_for_all, l(:field_is_for_all) -%>
      <%= check_box_tag 'query_is_for_all', 1, query.project.nil?,
        :disabled => (!query.new_record? && (query.project.nil? || (query.is_public? && !User.current.admin?))) %>
    </p>

    <fieldset><legend><%= l(:label_options) %></legend>
      <% if query.display_filter_columns_on_edit -%>
        <p>
          <%= label_tag :default_columns, l(:label_default_columns) -%>
          <%= check_box_tag 'default_columns', 1, query.has_default_columns?, :id => 'default_columns' %>
        </p>
        <%= javascript_tag("$('#default_columns').click(function(e){ if ($(this).is(':checked')) {$('#columns,#block_columns').hide()} else {$('#columns,#block_columns').show()} });") %>
      <% end -%>

      <% if query.display_filter_group_by_on_edit -%>
        <p>
          <%= label_tag :group_by, l(:field_group_by) -%>
          <%= select_tag :group_by, options_for_select([['','']] + query.groupable_columns.collect {|c| [c.caption, c.name.to_s]}, query.group_by) -%>
        </p>
      <% end -%>

      <p id="block_columns" <%= 'style="display:none;"' if query.has_default_columns? %>>
        <label><%= l(:button_show) %></label>
        <%= available_block_columns_tags(query) %>
      </p>

      <% if params[:gantt] %>
        <p><label><%= l(:label_gantt) %></label>
          <label class="inline"><%= check_box_tag "query[draw_relations]", "1", @query.draw_relations %> <%= l(:label_related_issues) %></label>
          <label class="inline"><%= check_box_tag "query[draw_progress_line]", "1", @query.draw_progress_line %> <%= l(:label_gantt_progress_line) %></label>
        </p>
      <% end %>
    </fieldset>
  </div>

  <fieldset>
    <legend><%= l(:label_filter_plural) -%></legend>
    <%= render :partial => 'easy_queries/filters', :locals => {:query => query} -%>
  </fieldset>

  <% if query.display_filter_sort_on_edit -%>
    <fieldset>
      <legend><%= l(:label_sort) %></legend>
      <% 3.times do |i| %>
        <%= i+1 %>: <%= select_tag("easy_query[sort_criteria][#{i}][]",
          options_for_select([[]] + query.available_columns.select(&:sortable?).collect {|column| [column.caption, column.name.to_s]}, query.sort_criteria_key(i))) -%>
        <%= select_tag("easy_query[sort_criteria][#{i}][]",
          options_for_select([[], [l(:label_ascending), 'asc'], [l(:label_descending), 'desc']], query.sort_criteria_order(i))) -%><br />
      <% end -%>
    </fieldset>
  <% end -%>

  <% if query.display_filter_columns_on_edit -%>
    <%= content_tag 'fieldset', :id => 'columns', :style => (query.has_default_columns? ? 'display:none;' : nil) do %>
      <legend><%= l(:field_column_names) %></legend>
      <%= render :partial => 'easy_queries/columns', :locals => {:query => query} -%>
    <% end %>
  <% end -%>

  <% query.settings.each_pair do |key, value| %>
    <%= hidden_field_tag "easy_query[settings][#{key}]", value -%>
  <% end if query.settings.is_a?(Hash) %>
</div>

<%= javascript_tag do %>
  $(document).ready(function(){
  $("input[name='query[visibility]']").change(function(){
  var checked = $('#query_visibility_1').is(':checked');
  $("input[name='query[role_ids][]'][type=checkbox]").attr('disabled', !checked);
  }).trigger('change');
  });
<% end %>