<div id="documents">
  <%= render :partial => 'index', :locals => {:grouped => @grouped} -%>
</div>

<p class="pagination" >
  <%= pagination_links_full @document_pages, @document_count %>
</p>

<% ### PAGE CUSTOMS ########################################################## %>

<% other_formats_links do |f| %>
  <%= f.link_to 'CSV', :url => params, :title => l(:title_other_formats_links_csv) -%>
<% end %>

<% content_for :easy_page_layout_service_box do %>
  <% if User.current.allowed_to?(:add_documents, @project) %>
    <ul class="menu-manager">
      <%= content_tag :li, link_to( l(:label_document_new), new_project_document_path(:project_id => @project), :class => 'button-1 icon icon-add') -%>
    </ul>
  <% end %>
<% end %>

<% html_title(l(:label_document_plural)) -%>

<% content_for :sidebar do %>
  <h3><%= l(:label_sort_by, '') %></h3>
  <%= form_tag({:controller => 'documents', :action => 'index', :project_id => @project}, :method => :get) do %>
    <div class="order">
      <label><%= radio_button_tag 'sort_by', 'category', (@sort_by == 'category'), :onclick => 'this.form.submit();' %> <%= l(:field_category) %></label><br />
      <label><%= radio_button_tag 'sort_by', 'date', (@sort_by == 'date'), :onclick => 'this.form.submit();' %> <%= l(:label_date) %></label><br />
      <label><%= radio_button_tag 'sort_by', 'title', (@sort_by == 'title'), :onclick => 'this.form.submit();' %> <%= l(:field_title) %></label><br />
      <label><%= radio_button_tag 'sort_by', 'author', (@sort_by == 'author'), :onclick => 'this.form.submit();' %> <%= l(:field_author) %></label>
    </div>
  <% end %>
<% end %>
<div id="context-menu" style="display: none;"></div>

<%= include_attachment_headers_tags %>
