<div class="easy-money-other-expense-container">
  <h2><%= l(:label_easy_money_other_expense_new) -%></h2>
  <%= form_for(@easy_money_object, :as => :easy_money, :html => { :multipart => true, :id => "easy-money-other-expense-form", :class => "easy-money-form tabular" }) do |f| -%>
    <%= error_messages_for @easy_money_object %>
    <%= f.hidden_field :entity_type, :id => nil %>
    <%= f.hidden_field :entity_id, :id => nil %>
    <%= hidden_field_tag('back_url', params[:back_url], :id => nil) unless params[:back_url].blank? %>
    <div class="box">
      
      <% if User.current.allowed_to?(:easy_money_manage_expected_expense, @project) && User.current.allowed_to?(:easy_money_manage_other_expense, @project) -%>
        <% if @project.easy_money_settings.show_expected? && ((@project.easy_money_settings.expenses_type == 'sum' && @project.expected_expenses.size == 0) || @project.easy_money_settings.expenses_type == 'list') %>
          <div id="money-type-select">
            <p>
              <label>
                <%= radio_button_tag 'expense_type', 'expected_expense', false -%>
                <%= l(:label_easy_money_expected_expense_new) -%>
              </label>
            </p>
            <p>
              <label>
                <%= radio_button_tag 'expense_type', 'other_expense', true -%>
                <%= l(:label_easy_money_other_expense_new) -%>
              </label>
            </p>
          </div>
        <% end -%>
      <% end -%>

      <%= render :partial => 'easy_money_other_expenses/form', :locals => { :f => f, :project => @project, :other_expense => @easy_money_object }  %>
    </div>
    <p class="links">
      <%= f.submit l(:button_add), :class => 'button-1' -%>
      <%= f.submit l(:button_issue_create_and_continue), :name => 'continue', :class => 'link_new icon-save-issue button-2' -%>
    </p>
  <% end -%>
</div>

<% ### PAGE CUSTOMS ########################################################## %>

<% content_for :header_tags do -%>
  <%= stylesheet_link_tag 'easy_money', :plugin => 'easy_money' -%>
  <%= javascript_include_tag 'easy_money', :plugin => 'easy_money' -%>
<% end -%>

<% content_for :sidebar do -%>
  <%= render :partial => 'easy_money/index_sidebar' -%>
<% end -%>

<script type="text/javascript">
  $(document).ready(function() {
    $("#expense_type_expected_expense").change(function() {
      url = '<%= url_for(:controller => 'easy_money_expected_expenses', :action => 'new', :only_path => false) -%>';
      url += (url.indexOf('?') >= 0) ? '&' : '?';
      url += $('#easy-money-other-expense-form').serialize();
      window.location = url;
    });
  });
</script>