<%= labelled_form_for :user, @user, :url => {:controller => 'users', :action => 'update', :id => @user}, :html => {:method => :put, :autocomplete => 'off'} do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <% if @user.active? && email_delivery_enabled? -%>
    <p><label><%= check_box_tag 'send_information', 1, true %> <%= l(:label_send_information) %></label></p>
  <% end -%>
  <p><%= submit_tag l(:button_save), :class => 'button-1' %></p>
<% end %>
