<h2><%= @copy ? l(:button_copy) : l(:label_bulk_edit_selected_issues) %></h2>

<% if @saved_issues && @unsaved_issues.present? %>
  <div id="errorExplanation">
    <span>
      <%= l(:notice_failed_to_save_issues,
        :count => @unsaved_issues.size,
        :total => @saved_issues.size,
        :ids => @unsaved_issues.map {|i| "##{i.id}"}.join(', ')) %>
    </span>
    <ul>
      <% bulk_edit_error_messages(@unsaved_issues).each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<ul id="bulk-selection">
  <% @issues.each do |issue| %>
    <%= content_tag 'li', link_to_issue(issue) %>
  <% end %>
</ul>

<%= form_tag(bulk_update_issues_path, :id => 'bulk_edit_form') do %>
  <%= hidden_field_tag('back_url', params[:back_url]) if params[:back_url] -%>
  <%= @issues.collect {|i| hidden_field_tag('ids[]', i.id)}.join("\n").html_safe %>
  <div class="box tabular">
    <fieldset class="attributes">

      <div class="splitcontentleft">
        <p>
          <label for="issue_project_id"><%= l(:field_project) %></label>
          <%= easy_select_tag(
            'issue[project_id]',
            {:name => @target_project.nil? ? l(:label_no_change_option) : @target_project.name, :id => @target_project.nil? ? '' : @target_project.id},
            @allowed_projects ? project_tree_options_for_select(@allowed_projects.flatten, {:selected => @target_project}) : nil,
            url_for(:controller => 'easy_auto_completes', :action => 'allowed_target_projects_on_move', :format => 'json'),
            :onchange => "updateBulkEditFrom('#{j(url_for(:action => 'bulk_edit', :format => 'js'))}')",
            :include_blank => true, :root_element => 'projects', :html_options => {:id => 'issue_project_id'}
            ) -%>
        </p>
        <p>
          <label for="issue_tracker_id"><%= l(:field_tracker) %></label>
          <%= select_tag('issue[tracker_id]', content_tag('option', l(:label_no_change_option), :value => '') + options_from_collection_for_select(@trackers, :id, :name, @issue_params[:tracker_id])) %>
        </p>

        <% if @available_statuses.any? %>
          <p>
            <label for='issue_status_id'><%= l(:field_status) %></label>
            <%= select_tag('issue[status_id]', content_tag('option', l(:label_no_change_option), :value => '') + options_from_collection_for_select(@available_statuses, :id, :name, @issue_params[:status_id])) %>
          </p>
        <% end %>

        <% if @safe_attributes.include?('priority_id') -%>
          <p>
            <label for='issue_priority_id'><%= l(:field_priority) %></label>
            <%= select_tag('issue[priority_id]', content_tag('option', l(:label_no_change_option), :value => '') + options_from_collection_for_select(IssuePriority.active, :id, :name, @issue_params[:priority_id])) %>
          </p>
        <% end %>

        <% if @safe_attributes.include?('assigned_to_id') -%>
          <p>
            <label for='issue_assigned_to_id'><%= l(:field_assigned_to) %></label>
            <%= select_tag('issue[assigned_to_id]', content_tag('option', l(:label_no_change_option), :value => '') +
                content_tag('option', l(:label_nobody), :value => 'none', :selected => (@issue_params[:assigned_to_id] == 'none')) +
                principals_options_for_select(@assignables, @issue_params[:assigned_to_id])) %>
          </p>
        <% end %>

        <% if @safe_attributes.include?('category_id') -%>
          <p>
            <label for='issue_category_id'><%= l(:field_category) %></label>
            <%= select_tag('issue[category_id]', content_tag('option', l(:label_no_change_option), :value => '') +
                content_tag('option', l(:label_none), :value => 'none', :selected => (@issue_params[:category_id] == 'none')) +
                options_from_collection_for_select(@categories, :id, :name, @issue_params[:category_id])) %>
          </p>
        <% end %>

        <% if @safe_attributes.include?('fixed_version_id') -%>
          <p>
            <label for='issue_fixed_version_id'><%= l(:field_fixed_version) %></label>
            <%= select_tag('issue[fixed_version_id]', content_tag('option', l(:label_no_change_option), :value => '') +
                content_tag('option', l(:label_none), :value => 'none', :selected => (@issue_params[:fixed_version_id] == 'none')) +
                version_options_for_select(@versions.sort, @issue_params[:fixed_version_id])) %>
          </p>
        <% end %>

        <% @custom_fields.each do |custom_field| %>
          <p><label><%= h(custom_field.translated_name) %></label><%= custom_field_tag_for_bulk_edit('issue', custom_field, @projects, @issue_params[:custom_field_values][custom_field.id.to_s]) %></p>
        <% end %>

        <% if @copy && @attachments_present %>
          <%= hidden_field_tag 'copy_attachments', '0', :id => nil %>
          <p>
            <label for='copy_attachments'><%= l(:label_copy_attachments) %></label>
            <%= check_box_tag 'copy_attachments', '1', params[:copy_attachments] != '0' %>
          </p>
        <% end %>

        <% if @copy && @subtasks_present %>
          <%= hidden_field_tag 'copy_subtasks', '0', :id => nil %>
          <p>
            <label for='copy_subtasks'><%= l(:label_copy_subtasks) %></label>
            <%= check_box_tag 'copy_subtasks', '1', params[:copy_subtasks] != '0' %>
          </p>
        <% end %>

        <%= call_hook(:view_issues_bulk_edit_details_bottom, { :issues => @issues }) %>
      </div>

      <div class="splitcontentright">
        <% if @safe_attributes.include?('is_private') %>
          <p>
            <label for='issue_is_private'><%= l(:field_is_private) %></label>
            <%= select_tag('issue[is_private]', content_tag('option', l(:label_no_change_option), :value => '') +
                content_tag('option', l(:general_text_Yes), :value => '1', :selected => (@issue_params[:is_private] == '1')) +
                content_tag('option', l(:general_text_No), :value => '0', :selected => (@issue_params[:is_private] == '0'))) %>
          </p>
        <% end %>

        <% if @safe_attributes.include?('parent_issue_id') && @project %>
          <p>
            <label for='issue_parent_issue_id'><%= l(:field_parent_issue) %></label>
            <span class="bulk-type-right-group">
              <%= radio_button_tag 'issue[parent_issue_id_type]', 'unchanged', true %>
              <label class="bulk-type-label-1 inline" for="issue_parent_issue_id_type_unchanged"><%= l(:label_no_change) %></label>

              <%= radio_button_tag 'issue[parent_issue_id_type]', 'change', false %>
              <label class="bulk-type-label-2 inline" for="issue_parent_issue_id_type_change"><%= l(:label_change_to) %></label>
              <%= easy_autocomplete_tag('issue[parent_issue_id]', {:name => '', :id => ''}, url_for({:controller => 'easy_auto_completes', :action => 'parent_issues', :project_id => @project, :format => :json}), {:root_element => 'issues', :html_options => {:id => 'parent_issue_id'}, :onchange => "$('#issue_parent_issue_id_type_change').attr('checked', true)"}) %>
            </span>
          </p>
        <% end %>
        <% if @safe_attributes.include?('start_date') %>
          <p>
            <label><%= l(:field_start_date) %></label>
            <span class="bulk-type-right-group">
              <%= radio_button_tag 'issue[start_date_type]', 'unchanged', true %>
              <label class="bulk-type-label-1 inline" for="issue_start_date_type_unchanged" ><%= l(:label_no_change) %></label>

              <%= radio_button_tag 'issue[start_date_type]', 'change', false %>
              <label class="bulk-type-label-2 inline" for="issue_start_date_type_change"><%= l(:label_change_to) %></label>
              <%= text_field_tag 'issue[start_date]', '', :size => 10, :onchange => "$('#issue_start_date_type_change').attr('checked',true);" %><%= calendar_for('issue_start_date') %>
            </span>
          </p>
        <% end %>

        <% if @safe_attributes.include?('due_date') %>
          <p>
            <label><%= l(:field_due_date) %></label>
            <span class="bulk-type-right-group">
              <%= radio_button_tag 'issue[due_date_type]', 'unchanged', true %>
              <label class="bulk-type-label-1 inline" for="issue_due_date_type_unchanged"><%= l(:label_no_change) %></label>

              <%= radio_button_tag 'issue[due_date_type]', 'change', false %>
              <label class="bulk-type-label-2 inline" for="issue_due_date_type_change"><%= l(:label_change_to) %></label>
              <%= text_field_tag 'issue[due_date]', '', :size => 10, :onchange => "$('#issue_due_date_type_change').attr('checked',true);" %><%= calendar_for('issue_due_date') %>
            </span>
          </p>
        <% end %>

        <% if @safe_attributes.include?('done_ratio') && Issue.use_field_for_done_ratio? %>
          <p>
            <label for='issue_done_ratio'><%= l(:field_done_ratio) %></label>
            <%= select_tag 'issue[done_ratio]', options_for_select([[l(:label_no_change_option), '']] + (0..10).to_a.collect {|r| ["#{r*10} %", r*10] }) %>
          </p>
        <% end %>
      </div>

    </fieldset>

    <fieldset>
      <legend><%= l(:field_notes) %></legend>
      <%= text_area_tag 'notes', @notes, :cols => 60, :rows => 10, :class => 'wiki-edit' -%>
      <%= wikitoolbar_for 'notes' unless in_mobile_view? -%>
    </fieldset>

    <% if @safe_attributes.include?('watcher_user_ids') %>
      <legend><%= l(:label_issue_watchers) %></legend>
      <div>
        <% @watchers.each do |watcher| %>
          <%= check_box_tag 'issue[watcher_user_ids][]', watcher.id, false, :id => "issue-watcher-#{watcher.id}" %>
          <label for="issue-watcher-<%= watcher.id %>">
            <%= watcher.name %>
          </label>
        <% end -%>
      </div>
    <% end -%>
  </div>

  <p>
    <% if @copy %>
      <%= hidden_field_tag 'copy', '1' %>
      <%= submit_tag l(:button_copy), :class => 'button-1' %>
      <%= submit_tag l(:button_copy_and_follow), :name => 'follow', :class => 'button-2' %>
    <% elsif @target_project %>
      <%= submit_tag l(:button_move), :class => 'button-1' %>
      <%= submit_tag l(:button_move_and_follow), :name => 'follow', :class => 'button-2' %>
    <% else %>
      <%= submit_tag l(:button_submit), :class => 'button-1' %>
    <% end %>
  </p>
<% end %>

<%= javascript_tag do %>
  $(window).load(function(){
  $(document).on('change', 'input[data-disables]', function(){
  if ($(this).attr('checked')){
  $($(this).data('disables')).attr('disabled', true).val('');
  } else {
  $($(this).data('disables')).attr('disabled', false);
  }
  });
  });
  $(document).ready(function(){
  $('input[data-disables]').trigger('change');
  });
<% end %>