<%= render :partial => 'easy_queries/easy_query_index', :locals => {:query => @query, :easy_query_name => l(:label_easy_money_other_revenues)} %>

<% if @entities.empty? %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
  <%= render :partial => 'easy_queries/easy_query_entities_list', :locals => {:query => @query, :entities => @entities, :options => {:hascontextmenu => true}} -%>
  <p class="pagination">
    <%= pagination_links_full @entity_pages, @entity_count, :query => @query, :entities => @entities %>
  </p>
<% end %>

<%= render(:partial => 'easy_queries/easy_query_export_format_links', :locals => {:query => @query}) -%>

<% ### PAGE CUSTOMS ########################################################## %>

<%= context_menu easy_money_other_revenues_context_menu_path %>